input {
	display: block;
}

input:focus:invalid {
	outline: none;
}

button {
	display: inline-block;
	background-color: #f4511e;
	border-radius: 4px;
	border: none;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.panel-heading {
	cursor: pointer;
	position: relative;
	transition: 0.5s;
	background-color: lightgrey;
	font: 24px Georgia, serif;
}

.panel-heading span {
	display: inline-block;
	position: relative;
}

.panel-heading span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.panel-heading span.expanded:after {
	content: '«';
}

.panel-heading:hover span {
  padding-right: 25px;
}

.panel-heading:hover span:after {
	opacity: 1;
	right: 0;
}

.title {
	margin-left: 15px;
	text-decoration: underline;
}

.ng-untouched {
	box-shadow: 0;
}

input.ng-invalid-maxlength,
input.ng-invalid,
.ng-inline-edit--error {
	box-shadow: 0 0 5px 1px red;
}

.new-student-input {
	min-width: 150px;
}

.new-student-save{
	float: left;
}

.failing {
	background-color: lightpink;
}

.panel {
	margin-left: 5%;
	width: 90%;
}

#btnNewStudent {
	background-color: #fcf8b3;
}

#btnSaveStudent {
	background-color: #a2d6ba;
}

#btnClearStudent {
	background-color: lightpink;
}

.btnDelete {
	background-color: #f21d47;
}

.highcharts-yaxis-grid .highcharts-grid-line {
	display: none;
}

.chart {
	float: left;
	width: 300px;
	height: 200px;
	margin-left: -15%;
}