input:invalid {
  
}

input:focus:invalid {
  outline: none;
}

.ng-untouched {
	box-shadow: 0;
}

input.ng-invalid-maxlength,
input.ng-invalid,
.ng-inline-edit--error {
	box-shadow: 0 0 5px 1px red;
}

.new-student-input {
	float:left;
	min-width: 150px;
}

.new-student-save{
	float: left;
}

.student-input {
	
}

#newStudentForm {
	display: none;
}
