<div id="summary-container" class="container-fluid" ng-init="initSummary()">
	<h1>Class Summary</h1>
	<div id="summary-min" class="summary-value-container">
		<div id="summary-min-title" class="summary-value-title">Min</div>
		<div id="summary-min-value" class="summary-value-value" ng-model="summary[0].min">{{summary[0].min}}</div>

		<div id="summary-max-title" class="summary-value-title">Max</div>
		<div id="summary-max-value" class="summary-value-value" ng-model="summary[0].max">{{summary[0].max}}</div>

		<div id="summary-average-title" class="summary-value-title">Average</div>
		<div id="summary-average-value" class="summary-value-value" ng-model="summary[0].average">{{summary[0].average}}</div>
	</div>
</div>