<form id="newStudentForm" name="newStudentForm" ng-controller="NewStudentController" ng-submit="newStudentForm.$valid && saveNewStudent()">
	<div role="alert">

	</div>
	<label for="firstName">First Name: </label>
	<input type="text" name="firstName" ng-model="newStudent.firstName" ng-maxlength="validation.maxLength" ng-pattern="validation.inputRegex" required>

	<label for="lastName">Last Name: </label>
	<input type="text" name="lastName" ng-model="newStudent.lastName" ng-maxlength="validation.maxLength" ng-pattern="validation.inputRegex" required>

	<label for="grade">Grade: </label>
	<input type="number" name="grade" min="0" max="100" ng-model="newStudent.grade" required>
	<br />
	<button id="btnSaveStudent" type="submit">Save</button>
	<button id="btnClearStudent" ng-click="resetInput()">Clear</button>
</form>